*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    padding: 1% 0 1% 0;

    height: 100%;
    width: 100%;
}

.dashboard-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    background: #777;
    border-radius: .5rem;
}

.motor-status{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;

    background: #766;
}

.motor-left{
    width: 50%
}

.motor-right{
    width: 50%
}

.battery-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;

    background: #bbb;
}

.accelerometer-data{
    background: #333;
    height: 50%;
    width: 100%;
}

.sonar-data{
    height: 100%;
    width: 50%;
    
    background: #667;
    border-radius: .5rem;
}
.data-trade{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 20%;
    
    background: #676;
    border-radius: .5rem;
}

.logger-box{
    height: 50%;
}

.command{
    height: 50%;
}