<html>
  <head>
    <title>Cherry Pie AGV</title>
  </head>
  <body>
    <h1>Sensors</h1>
    <p id="data">{{ data }}</p>
  </body>
  <script>
    function getData(){
      var xhr = new XMLHttpRequest();

      xhr.open("GET", "/sensors", true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
          var data = JSON.parse(xhr.responseText);
          document.getElementById("data").innerHTML = JSON.stringify(data);
        }
      };
      
      xhr.send();
    }

    setInterval(getData, 500);
  </script>
</html>